<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://PhluffyFotosWeb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PhluffyFotosWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$PhluffyFotosWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=phluffyfotosstorage;AccountKey=6Z5doYrznFj1YAuOXYQo43P+G5zrBwEHeZsE2gq+vhD2yK19Y/KQ1C5cBh4dBxoYjro9nYwTYyHMk9TJboIOUw==" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataConnectionString_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=phluffyfotosstorage;AccountKey=6Z5doYrznFj1YAuOXYQo43P+G5zrBwEHeZsE2gq+vhD2yK19Y/KQ1C5cBh4dBxoYjro9nYwTYyHMk9TJboIOUw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=tcp:a9lgtb129n.database.windows.net,1433;Initial Catalog=PhluffyFotosDb;Integrated Security=False;User ID=PhluffyFotosUser@a9lgtb129n;Password=Passw0rd!;Connect Timeout=30;Encrypt=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:a9lgtb129n.database.windows.net,1433;Database=PhluffyFotosDb;User ID=PhluffyFotosUser@a9lgtb129n;Password=Passw0rd!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>